@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@layer base {
  html {
    @apply scroll-smooth;
  }

  h1 {
    @apply text-4xl font-bold lg:text-5xl;
  }
  h2 {
    @apply text-3xl font-semibold lg:text-4xl;
  }
  h3 {
    @apply text-2xl font-semibold lg:text-3xl;
  }
  h4 {
    @apply text-xl font-semibold lg:text-2xl;
  }

  h5 {
    @apply text-base font-semibold lg:text-lg;
  }
}

@layer utilities {
  .inter-head {
    @apply not-italic font-semibold;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
  }
  .inter-para {
    @apply not-italic font-normal;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
  }
  .lora-para {
    @apply not-italic font-normal;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
  }

  .page__layout {
    @apply px-4 py-6 mx-auto max-w-8xl sm:px-6 lg:px-12 xl:px-20;
  }
  .page__grid {
    @apply grid grid-cols-1 gap-10 lg:grid-cols-12;
  }

  /* Divider */
  .content-divider {
    @apply my-8 border-gray-300;
  }
  /** 
    *
    *   ======== Single Post - STARTS ======
    *
    *
    **/

  main.post__content {
    @apply lg:col-span-7 xl:col-span-8;
  }
  aside.post__aside {
    @apply lg:col-span-5 xl:col-span-4;
  }

  /* Post Intro */
  .post__intro {
    @apply space-y-6;
  }
  .post__intro_categories a {
    @apply font-semibold no-underline text-primary-base;
  }

  .post__intro_categories a:not(:last-child)::after {
    content: "|";
    @apply font-medium mx-3 text-[initial];
  }

  .post__intro_title {
    @apply text-3xl font-semibold md:text-4xl;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
  }

  .post__content article p,
  .post__highlights > ul > li {
    @apply text-lg font-normal text-neutral-subtext;
  }

  .post__content article p {
    @apply leading-7;
  }

  /* Post Highlights */
  .post__highlights {
    @apply py-6 my-4 space-y-6 lg:my-6;
  }
  .post__highlights_title {
    @apply text-3xl font-semibold md:text-4xl;
  }
  .post__highlights > ul {
    @apply pl-1 space-y-1 list-disc list-inside;
  }

  /* Post Author Meta */
  .post__author {
    @apply flex flex-row items-center py-4 mt-6 space-x-4 lg:mt-8;
  }

  .post__author img {
    @apply flex-shrink-0 w-12 h-12 rounded-full md:w-14 md:h-16;
  }
  .post__author_info {
    @apply space-y-1;
  }

  .post__author_name {
    @apply text-base font-bold md:text-lg;
  }
  .post__author_meta {
    @apply flex flex-col font-normal list-none md:flex-row text-neutral-subtext;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
  }
  .post__author_meta li:not(:last-child)::after {
    content: "-";
    @apply font-medium mx-3 text-[initial];
  }

  /* Post Featured Image */
  .post__featured_img {
    @apply mt-6;
  }
  .post__featured_img img {
    @apply w-full lg:rounded-lg;
  }

  /* Post Content */
  .post__content article {
    @apply my-1;
  }

  .post__content article h1 {
    @apply mb-6 text-primary-main;
  }

  .post__content article h2 {
    @apply mt-8 mb-4 text-primary-main;
  }
  .post__content article h3 {
    @apply mt-8 mb-4 text-primary-main;
  }

  .post__content article ul {
    @apply pl-1 space-y-1 list-disc list-inside;
  }

  .post__content article ul li {
    @apply text-lg font-normal text-neutral-subtext;
  }

  .post__content article ul li b {
    @apply text-primary-main;
  }
  .post__content article ul li span {
    @apply font-bold text-primary-base;
  }

  .post__content article img {
    @apply w-full mt-8 rounded-lg;
  }

  /* Post Share */
  .post__share {
    @apply flex items-center mt-6 space-x-4;
  }

  .post__share-text {
    @apply text-sm text-neutral-placeholder;
  }

  .post__share__social-icons {
    @apply flex space-x-2;
  }

  .post__share__social-icons a {
    @apply flex items-center justify-center rounded-full w-7 h-7;
  }

  /* Post Categories Pills */
  .post__categories_urls {
    @apply flex gap-2;
  }

  .post__categories_urls a {
    @apply px-3 py-1 text-sm no-underline bg-gray-200 rounded-full text-neutral-text md:text-base lg:text-lg md:px-4 hover:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-400;
  }

  /* Post Author Card */
  .post__author_card {
    @apply bg-[#F5F7F7] px-6 py-8 lg:px-8 lg:py-12 rounded-3xl mt-10 flex flex-col items-center sm:flex-row gap-10;
  }
  .post__author_card img {
    @apply w-24 h-24 border-2 rounded-full border-primary-base;
  }
  .post__author_card_info {
    @apply space-y-5 text-center sm:text-left;
  }
  .post__author_card_bio {
    @apply text-sm font-thin text-neutral-subtext md:text-base;
  }

  /* Newsletter */
  .newsletter__container {
    @apply bg-[#F5F7F7] p-12 rounded-3xl mx-auto mt-6;
  }

  .newsletter__header {
    @apply text-center lg:text-start;
  }

  .newsletter__text-dark {
    @apply text-primary-dark;
  }

  .newsletter__text-green {
    @apply text-primary-base;
  }

  .newsletter__description {
    @apply mt-2 text-primary-dark;
  }

  .newsletter__form {
    @apply mt-6;
  }

  .newsletter__fields {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2;
  }

  .newsletter__field {
    @apply;
  }

  .newsletter__label {
    @apply block text-sm font-medium text-neutral-text;
  }

  .newsletter__input {
    @apply block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-primary-base focus:border-primary-base;
  }

  .newsletter__footer {
    @apply items-center justify-between gap-8 mt-3 lg:flex lg:mt-6;
  }

  .newsletter__policy {
    @apply lg:w-2/3;
  }

  .newsletter__policy-text {
    @apply mt-4 text-sm text-gray-500;
  }

  .newsletter__policy-link {
    @apply text-primary-base hover:underline;
  }

  .newsletter__button-wrapper {
    @apply mt-6 text-center;
  }

  .newsletter__button {
    @apply w-full px-6 py-2 text-sm font-medium text-white rounded-md bg-primary-base hover:bg-primary-hover focus:ring-4 focus:ring-primary-base;
  }

  /* Suggested Articles Section */
  .suggested-articles__container {
    @apply pt-4 mx-auto mt-6;
  }

  .suggested-articles__title {
    @apply mb-6;
  }

  .suggested-articles__grid {
    @apply grid grid-cols-1 gap-6 md:grid-cols-3;
  }

  .suggested-articles__item {
    @apply overflow-hidden;
  }

  .suggested-articles__image {
    @apply object-cover w-full;
  }

  .suggested-articles__content {
    @apply py-4;
  }

  .suggested-articles__headline {
    @apply mb-2;
  }
  /* Subscription Section */
  .subscription-section {
    @apply w-full;
  }

  .subscription-section__container {
    @apply flex flex-col justify-center;
  }

  .subscription-section__card {
    @apply bg-[#F5F7F7] rounded-2xl px-6 py-8 max-w-md w-full text-center mx-auto;
  }

  .subscription-section__title {
    @apply mb-2;
  }

  .subscription-section__title-dark {
    @apply text-primary-dark;
  }

  .subscription-section__title-highlight {
    @apply -mx-2 text-primary-base;
  }

  .subscription-section__subtitle {
    @apply mt-5 text-2xl font-semibold md:text-3xl text-primary-base;
  }

  .subscription-section__description {
    @apply mt-3 mb-6 text-2xl font-bold text-primary-dark md:text-3xl;
  }

  .subscription-section__form {
    @apply mx-5 space-y-10;
  }

  .subscription-section__input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-base;
  }

  .subscription-section__button {
    @apply w-2/3 py-2 font-bold text-white bg-primary-base hover:bg-primary-hover focus:ring-2 focus:ring-primary-base;
  }

  .subscription-section__disclaimer {
    @apply mt-4 text-xs leading-loose text-gray-600 md:text-sm;
  }

  .subscription-section__link {
    @apply underline text-primary-base;
  }

  /** 
    *
    *   ======== Single Post - ENDS ======
    *
    *
    **/

  /* Block: dropdown */
  .section-category {
    @apply py-6 mx-auto max-w-7xl lg:px-8;
  }
  .section-category__container {
    @apply relative flex flex-col lg:flex-row;
  }

  .sidebar-category {
    @apply w-full px-6 py-3 lg:w-1/4;
  }
  .sidebar-category--bg {
    @apply bg-neutral-footer lg:bg-transparent;
  }
  .dropdown__button {
    @apply flex items-center justify-between w-full px-4 py-2 text-left border rounded-lg text-primary-dark;
  }

  .dropdown__button--primary {
    @apply bg-white border-gray-300;
  }

  .dropdown__text {
    @apply flex-1;
  }

  .dropdown__icon {
    @apply ml-2;
  }

  /* Dropdown for Mobile */
  .sidebar-category__dropdown {
    @apply relative block lg:hidden;
  }
  .sidebar-category__title--center {
    @apply my-5 text-center;
  }
  .dropdown__menu {
    @apply absolute container mt-2 hidden  border  rounded-lg shadow-lg z-50 transition-all duration-300 ease-in-out origin-top transform scale-y-0 max-h-[300px] overflow-y-auto p-3;
  }

  .dropdown__menu--color {
    @apply bg-primary-light border-neutral-border;
  }

  .dropdown__link {
    @apply block px-4 py-2 text-gray-700 hover:text-blue-600;
  }

  /* Sidebar List for Larger Screens */
  .sidebar-container {
    @apply hidden py-3 rounded-lg lg:block bg-neutral-footer;
  }
  .sidebar-container__list {
    @apply w-full;
  }
  .sidebar-container__list-item {
    @apply block px-6 py-4 inter-para;
  }
  .sidebar-container__list-item--color {
    @apply text-primary-dark hover:bg-primary-base;
  }

  /* Main Content */
  .main-card {
    @apply flex-1 px-4;
  }
  .main-card__header {
    @apply flex items-center justify-between pb-4 my-5 mb-4 border-b border-neutral-border;
  }
  .main-card__title--primary {
    @apply text-primary-dark inter-head;
  }
  .main-card__paragraph {
    @apply text-sm text-neutral-subtext xl:text-base hover:underline;
  }

  /* Card Grid */
  .card-grid {
    @apply grid grid-cols-12 gap-6;
  }

  /* Card */
  .card-grid__card {
    @apply col-span-12 overflow-hidden rounded-md shadow-sm sm:col-span-6 lg:col-span-4;
  }
  .card-grid__image {
    @apply object-cover w-full h-40;
  }
  .card-grid__content {
    @apply py-4;
  }
  .card-grid__title {
    @apply mb-2 inter-head;
  }
  .card-grid__date {
    @apply text-sm text-gray-500 inter-para;
  }

  /* News */
  .news-section {
    @apply px-6 py-6 mx-auto max-w-7xl lg:px-8;
  }

  .news-section__grid {
    @apply grid grid-cols-1 gap-6 md:grid-cols-3;
  }

  /* Block: news-card */
  .news-card {
    @apply p-4 bg-transparent;
  }

  .news-card__header {
    @apply pb-2 mb-4 text-lg font-bold border-b-2 border-neutral-borderDark;
  }

  .news-card__header-icon {
    @apply pr-3;
  }

  .news-card__list {
    @apply space-y-3;
  }

  /* Block: news-card-item */
  .news-card-item--with-image {
    @apply flex items-start py-3 space-x-3 border-b-2 border-neutral-border;
  }

  .news-card-item--text-only {
    @apply py-1 space-y-2 border-b-2 border-neutral-border;
  }

  .news-card-item__image {
    @apply h-20 rounded-md w-36;
  }

  .news-card-item__content {
    @apply text-sm font-medium;
  }

  .news-card-item__date {
    @apply text-xs text-neutral-placeholder;
  }

  /* Promo section */
  .promo-section {
    @apply px-6 py-10 mx-auto max-w-7xl lg:px-8;
  }

  .promo-card {
    @apply bg-neutral-promoBack p-6 lg:rounded-tl-[180px] flex flex-col md:flex-row items-center gap-6  border-4 border-neutral-promoborder;
  }
  .promo-card__image-container {
    @apply flex items-end justify-center py-3 md:w-1/3;
  }

  .promo-card__image {
    @apply w-4/5 h-auto rounded-none lg:ml-auto;
  }

  .promo-card__content {
    @apply md:w-2/3 md:text-left lg:px-10;
  }

  .promo-card__title {
    @apply mb-3 text-center inter-head lg:text-left;
  }

  .promo-card__description {
    @apply mb-6 text-sm text-center text-neutral-subtext inter-para lg:text-left;
  }

  .promo-card__button {
    @apply px-6 py-3 text-sm font-normal text-center text-white transition rounded-md bg-neutral-promoButton hover:bg-orange-600 inter-para;
  }

  /* Latest Articles Section */
  .articles-section {
    @apply max-w-5xl px-4 py-10 mx-auto sm:px-6 lg:px-8;
  }

  .articles-section__title {
    @apply mb-6 tracking-wide inter-head;
  }

  .articles-list {
    @apply grid grid-cols-1 gap-6 md:grid-cols-2;
  }

  .article-card {
    @apply flex gap-4 border-b border-neutral-border;
  }

  .article-card__image {
    @apply object-cover h-20 rounded-sm w-28;
  }

  .article-card__content {
    @apply flex-1;
  }

  .article-card__title {
    @apply mb-4 text-base font-medium leading-tight text-primary-dark inter-head;
  }

  .article-card__author-date {
    @apply flex justify-between mt-auto;
  }
  .article-card__author {
    @apply mb-1 text-sm text-neutral-subtext inter-para;
  }

  .article-card__date {
    @apply text-xs text-neutral-subtext inter-para;
  }

  /* Button Group */

  /*  */
  /* Block container */
  .seo-section {
    @apply px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:px-16 lg:py-10;
  }

  /* Inner container with border and shadow */
  .seo-section__container {
    @apply px-4 py-8 sm:px-6 lg:px-16 lg:py-10 rounded-xl lg:border lg:border-neutral-footer lg:shadow-xl;
  }

  /* Button Group wrapper for horizontal scroll */
  .seo-section__button-group-wrapper {
    @apply overflow-x-auto;
  }

  /* Button group container */
  .seo-section__button-group {
    @apply flex py-3 space-x-4 w-max lg:w-full;
  }

  /* Base style for each tab button */
  .seo-section__tab {
    @apply flex flex-col items-center px-3 space-y-3 focus:outline-none w-60 xl:w-1/6;
  }

  /* Base styles for icon, text, and underline */
  .seo-section__tab-icon {
    @apply text-3xl text-neutral-BigCardBack;
  }
  .seo-section__tab-text {
    @apply text-base font-normal tracking-wide text-neutral-text;
  }
  .seo-section__tab-underline {
    @apply w-full h-1 mt-1 rounded-md bg-neutral-background;
  }

  /* Active state overrides for icon, text, and underline */
  .seo-section__tab-icon-active {
    @apply text-neutral-BigCardViolet;
  }
  .seo-section__tab-text-active {
    @apply text-neutral-BigCardViolet;
  }
  .seo-section__tab-underline-active {
    @apply bg-neutral-BigCardViolet;
  }

  /* Content grid for the section */
  .seo-section__content {
    @apply grid items-center grid-cols-1 gap-8 py-10 mt-12 mb-10 lg:grid-cols-2 lg:mb-0 lg:py-0;
  }

  /* Left side content container */
  .seo-section__content-left {
    @apply mb-8;
  }

  /* Main title */
  .seo-section__title {
    @apply leading-snug text-primary-dark inter-head;
  }

  /* Ordered list container */
  .seo-section__list {
    @apply mt-6 space-y-4 tracking-wide text-neutral-subtext inter-para;
  }

  /* List item */
  .seo-section__list-item {
    @apply flex items-start space-x-2 text-base;
  }

  /* Icon in each list item */
  .seo-section__list-icon {
    @apply text-primary-base;
  }

  /* Action button (e.g., Try SEO Toolkit) */
  .seo-section__button {
    @apply px-6 py-3 mt-8 text-lg font-medium text-white rounded-md shadow-md bg-primary-base hover:bg-primary-hover focus:outline-none;
  }

  /* Right side content container */
  .seo-section__content-right {
    @apply relative flex items-center justify-center mt-10 lg:mt-0;
  }

  /* First image container */
  .seo-section__image-container {
    @apply absolute overflow-hidden bg-white rounded-lg shadow-lg w-96 h-80;
  }

  /* Image styling */
  .seo-section__image {
    @apply object-cover w-full h-full rounded-lg shadow-lg;
  }

  /* Second image container with transform */
  .seo-section__image-second-container {
    @apply relative w-64 overflow-hidden transform translate-x-20 translate-y-24 bg-white rounded-lg shadow-lg h-52;
  }

  /* Second image styling */
  .seo-section__image-second {
    @apply object-cover w-full h-full;
  }

  /* Block container */
  .updates-section {
    @apply max-w-5xl px-4 py-8 mx-auto sm:px-6 lg:px-8;
  }

  /* Grid container */
  .updates-section__grid {
    @apply grid grid-cols-12 gap-6;
  }

  /* Main Article */
  .updates-section__main {
    @apply col-span-12 overflow-hidden lg:col-span-6;
  }

  .updates-section__main-image {
    @apply w-full h-auto;
  }

  .updates-section__main-content {
    @apply p-6;
  }

  .updates-section__main-title {
    @apply mb-4 text-xl font-bold text-center lg:text-2xl inter-para;
  }

  .updates-section__author {
    @apply mb-4 font-medium text-center text-primary-base inter-para;
  }

  .updates-section__description {
    @apply text-center text-primary-dark inter-para;
  }

  /* Sidebar */
  .updates-section__sidebar {
    @apply col-span-12 px-4 border-l lg:col-span-6 border-neutral-border;
  }

  /* Tabs in Sidebar */
  .updates-section__tabs {
    @apply flex border-b;
  }

  .updates-section__tab-button {
    @apply flex-1 py-2 font-medium text-center inter-para;
  }

  /* Active tab modifier */
  .updates-section__tab-button--active {
    @apply border-b-2 border-primary-base;
  }

  /* Articles List in Sidebar */
  .updates-section__articles-list {
    @apply p-4;
  }

  /* Individual Article in the Sidebar */
  .updates-section__article {
    @apply mb-6;
  }

  .updates-section__article-category {
    @apply text-xs uppercase text-primary-base md:text-sm inter-para;
  }

  .updates-section__article-title {
    @apply inter-head;
  }

  .updates-section__article-meta {
    @apply text-xs md:text-sm text-neutral-subtext inter-para;
  }

  /* Home Page end */

  /* Single News Page  start*/

  .single__page__container {
    @apply px-4 bg-neutral-background md:px-8 lg:px-16;
  }

  .progress-bar {
    @apply fixed top-0 left-0 z-50 w-full h-1 bg-transparent;
  }
  .progress-bar__indicator {
    @apply h-full transition-all bg-primary-base;
  }
  .hero {
    @apply relative w-full mx-auto my-4 max-w-8xl;
  }

  .hero__container {
    @apply relative flex flex-col items-center h-full overflow-hidden bg-center bg-no-repeat bg-cover rounded-3xl lg:flex-row;
  }
  .hero__container--white {
    @apply text-primary-main;
  }

  .hero__overlay {
    @apply absolute inset-0;
    background: linear-gradient(to right, #e5e4e29e, rgba(0, 0, 0, 0));
  }
  .hero__content {
    @apply relative z-10 px-8 py-4 text-left md:py-8 lg:py-16 md:px-20 lg:px-28 lg:w-1/2;
  }

  .hero__title {
    @apply mb-4;
  }

  .hero__title--large {
    @apply space-y-4 text-3xl md:text-4xl lg:text-6xl;
  }

  .hero__title-part {
    @apply block;
  }

  .hero__title-part--highlighted {
    @apply text-primary-base;
  }

  .hero__title-part--secondary {
    @apply text-primary-main;
  }

  /* left part styles */
  /* Layout Block */
  .layout {
    @apply px-5 py-8 md:px-0;
  }

  .layout__container {
    @apply mx-auto max-w-8xl;
  }

  .layout__grid {
    /* @apply grid grid-cols-1 gap-8 xl:grid-cols-12; */
    @apply flex flex-col xl:flex-row;
  }

  /* Sidebar Block */
  .sidebar {
    @apply space-y-6 xl:w-3/12;
    /* xl:col-span-3 */
  }

  .sidebar--hidden {
    @apply hidden xl:block;
  }

  .sidebar__content {
    @apply mr-auto space-y-6 xl:w-5/6;
  }

  .sidebar__content--sticky {
    @apply sticky top-12;
  }

  .report-card {
    @apply px-4 py-5 rounded-3xl;
  }
  .report-card--container {
    @apply text-center bg-neutral-card;
  }

  .report-card__heading--small {
    @apply mb-2 text-sm text-primary-base;
  }

  .report-card__description {
    @apply mb-2 text-xs text-primary-main;
  }

  .report-card__form {
    @apply flex items-center px-2 py-1 border rounded border-neutral-border;
  }

  .report-card__input {
    @apply w-full px-1 py-2 text-sm bg-transparent rounded text-neutral-subtext placeholder-neutral-placeholder focus:outline-none;
  }

  .report-card__button {
    @apply px-2 py-2 text-xs font-semibold rounded text-primary-main;
  }

  .report-card__button--primary {
    @apply bg-primary-base text-primary-main hover:bg-pink-600;
  }

  /* TOC card */
  .toc-card {
    @apply py-5 bg-neutral-card text-primary-main rounded-3xl px-7;
  }

  .toc-card__header {
    @apply flex items-center justify-between;
  }

  .toc-card__title {
    @apply text-primary-main;
  }

  .toc-card__toggle {
    @apply px-1 border rounded-full text-primary-main border-neutral-border focus:outline-none;
  }

  .toc-card__icon {
    @apply text-base;
  }

  .toc-card__list {
    @apply overflow-hidden transition-all duration-500 ease-in-out;
    max-height: 0;
  }

  .toc-card--open .toc-card__list {
    max-height: 500px;
  }

  .toc-card__list > li {
    @apply my-5 mb-3 text-xs font-light text-primary-main;
  }
  .toc-card__link {
    @apply no-underline transition-colors duration-300 ease-in-out;
  }

  .toc-card__link.active {
    @apply text-primary-base;
  }

  /* Blog Container */
  .blog {
    @apply space-y-6 xl:w-8/12 xl:mr-12;
    /* xl:col-span-6 */
  }
  .blog__header {
    @apply flex flex-col items-start justify-between pb-6 mb-6 md:flex-row md:items-center;
  }
  .blog__header__breadcrumb {
    @apply space-x-2 text-base font-semibold;
  }
  .blog__header__breadcrumb--gray {
    @apply text-neutral-placeholder;
  }
  .blog__header__breadcrumb__link {
    @apply transition;
  }
  .blog__header__breadcrumb__link:hover {
    @apply hover:text-accent-light;
  }
  .blog__header__history {
    @apply flex mt-4 space-x-6 text-sm text-neutral-placeholder md:mt-0;
  }
  .blog__header__time {
    @apply flex items-center space-x-2;
  }
  .blog__header__icon--base {
    @apply text-primary-base;
  }

  /* Share Section Block */

  /* right part */
  .related-articles-container {
    @apply space-y-6 xl:w-3/12;
    /* xl:col-span-3 */
  }

  .related-articles {
    @apply sticky px-4 mt-12 xl:-top-1/4 xl:px-0;
  }

  .related-articles__card {
    @apply p-6 bg-neutral-card md:px-11 md:py-10 rounded-3xl;
  }

  .related-articles__header {
    @apply flex items-center mb-8 space-x-6 font-bold;
  }

  .related-articles__icon {
    @apply mr-2 text-3xl text-primary-base;
  }

  .related-articles__title {
    @apply text-lg text-primary-main;
  }

  .related-articles__list {
    @apply mt-4 space-y-6 xl:mt-10;
  }

  .related-articles__item {
    @apply flex items-center space-x-4;
  }

  .related-articles__image {
    @apply object-cover w-20 rounded-lg h-14;
  }

  .related-articles__link {
    @apply text-sm font-light text-primary-main hover:text-primary-base;
  }

  .related-articles__date {
    @apply text-xs text-neutral-placeholder;
  }

  .subscription {
    @apply py-2 mx-auto mt-6 md:mt-8 xl:mt-10 xl:py-4 md:w-1/2 xl:w-full;
  }

  .subscription__text {
    @apply mb-4 text-lg font-normal text-center text-primary-main;
  }

  .subscription__form {
    @apply p-10 mt-4 rounded-lg bg-primary-main;
  }

  .subscription__label {
    @apply block mb-2 text-sm font-medium text-neutral-subtext text-start;
  }

  .subscription__input {
    @apply w-full p-3 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-base;
  }

  .subscription__button {
    @apply w-full py-3 mt-4 text-sm rounded-lg;
  }
  .subscription__button--color {
    @apply bg-primary-base text-primary-main;
  }

  /* Single News Page  end*/

  /* Single post page start */

  /* BEM apply */

  /* Content Section */
  .content__main {
    @apply px-4 md:col-span-2 lg:px-6;
  }
  .content__header {
    @apply mt-3 mb-12;
  }
  .content__section {
    @apply space-y-6;
  }

  /* BEM apply */

  .container__layout {
    @apply px-4 py-6 mx-auto max-w-8xl sm:px-6 lg:px-8;
  }
  .container__grid {
    @apply grid grid-cols-1 gap-6 md:grid-cols-3;
  }

  .header__section {
    @apply mt-3 mb-12;
  }
  .content__section {
    @apply space-y-6;
  }
  .content__header-title {
    @apply mb-6;
  }
  .content__paragraph {
    @apply text-lg text-neutral-subtext;
  }
  .content__list {
    @apply py-4 mb-6 space-y-2 list-disc list-inside;
  }
  .highlights__container {
    @apply px-4 py-6 my-4 lg:my-6 lg:py-8;
  }
  .highlights__heading {
    @apply mb-4 lg:mb-6;
  }

  .highlights__list {
    @apply space-y-2;
  }

  .highlights__item {
    @apply flex items-start;
  }

  .highlights__bullet {
    @apply w-2 h-2 mt-2 mr-4 rounded-full bg-primary-base;
  }

  .highlights__text {
    @apply text-lg;
  }
  /* Author Card Block */

  /* Webinar Card Block */
  .webinar-card {
    @apply mt-10 sm:mx-auto;
  }

  .webinar-card__container {
    @apply px-8 py-12 text-white rounded-xl bg-gradient-to-r from-purple-800 to-purple-500 lg:px-10 lg:py-16;
  }

  /* Content Section */
  .webinar-card__content {
    @apply flex flex-col-reverse items-center justify-between lg:flex-row-reverse;
  }

  .webinar-card__text {
    @apply space-y-4 sm:order-2 sm:ml-8 lg:ml-0 lg:w-2/3;
  }

  .webinar-card__title {
    @apply text-center lg:text-start;
  }

  .webinar-card__description {
    @apply mt-4;
  }

  /* Branding Section */
  .webinar-card__branding {
    @apply flex flex-row items-center justify-center py-6 lg:w-1/3;
  }

  .webinar-card__brand {
    @apply lg:pt-6;
  }

  /* Call-to-Action Button */
  .webinar-card__cta {
    @apply mt-6;
  }

  .webinar-card__button {
    @apply inline-flex items-center px-8 py-3 font-semibold text-purple-900 rounded-lg bg-cyan-400 hover:bg-cyan-500;
  }

  /* paragraphs */
  .content-container {
    @apply p-4 mx-auto mt-4 lg:mt-8;
  }

  /* Section Styling */
  .content-section {
    @apply mb-10;
  }

  /* Headings */
  .content-heading {
    @apply mb-8;
  }

  /* Paragraphs */
  .content-paragraph {
    @apply mb-8 text-lg leading-relaxed tracking-wide text-neutral-text lg:text-xl;
  }

  /* Links */
  .content-link {
    @apply text-blue-600 underline cursor-pointer hover:text-blue-800 hover:underline;
  }

  /* List */
  .content-list {
    @apply pl-6 space-y-6 list-disc text-neutral-text;
  }

  .content-list-item {
    @apply lora-para;
  }

  /* Caption */
  .content-caption {
    @apply text-sm text-gray-500 md:text-base lg:text-lg lora-para;
  }

  /* Buttons */
  .content-buttons {
    @apply flex gap-6 mt-8;
  }

  .content-button {
    @apply px-3 py-1 text-sm bg-gray-200 rounded-full text-neutral-text md:text-base lg:text-lg md:px-4 hover:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-400;
  }

  /* Marketing Trends Section */
  .marketing-trends {
    @apply flex flex-col;
  }

  .marketing-trends__image-container {
    @apply w-full;
  }

  .marketing-trends__image {
    @apply w-full;
  }

  .marketing-trends__content {
    @apply px-4 py-4 bg-primary-base;
  }

  .marketing-trends__headline {
    @apply mt-2 text-lg font-bold text-white lg:text-2xl hover:underline;
  }

  /* Category page classes  */
  /* Base container for the category section */
  .category-section {
    @apply px-4 md:col-span-2 lg:px-6;
  }

  /* Controls (heading + dropdown) */
  .category-section__controls {
    @apply flex items-center justify-between;
  }

  /* Section heading */
  .category-section__heading {
    @apply mb-6 text-primary-dark;
  }

  /* Dropdown container */
  .category-section__dropdown {
    @apply relative;
  }

  /* Dropdown select styles */
  .category-section__select {
    @apply px-4 py-3 mb-3 border rounded-md appearance-none bg-neutral-background border-neutral-border focus:outline-none focus:ring-2 focus:shadow-lg active:shadow-lg;
  }

  /* Description paragraph */
  .category-section__description {
    @apply mt-2 font-sans text-lg leading-relaxed text-primary-dark lg:text-xl;
  }

  /* Highlighted text in the description */
  .category-section__highlight {
    @apply underline text-primary-base;
  }

  /* Links inside the description */
  .category-section__link {
    @apply underline cursor-pointer text-primary-base;
  }

  /* Additional content container */
  .category-section__additional {
    @apply mt-6;
  }

  /* Grid container for category cards */
  .category-cards {
    @apply grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 lg:grid-cols-2 lg:mt-8;
  }

  /* Individual card container */
  .category-cards__item {
    @apply overflow-hidden;
  }

  /* Tag or category label */
  .category-cards__tag {
    @apply py-4 text-xs font-bold text-primary-base;
  }

  /* Image within the card */
  .category-cards__image {
    @apply object-cover w-full h-auto;
  }

  /* Content wrapper */
  .category-cards__content {
    @apply py-4 space-y-4;
  }

  /* Title of the card */
  /* .category-cards__title {
    @apply ;
  } */

  /* Author container */
  .category-cards__author {
    @apply flex items-center space-x-3;
  }

  /* Author name */
  .category-cards__author-name {
    @apply text-sm font-semibold text-primary-base;
  }

  /* Card description */
  .category-cards__description {
    @apply text-sm font-normal leading-relaxed md:text-base text-primary-dark;
  }

  /* Metadata (time, views, date) */
  .category-cards__meta {
    @apply flex items-center mt-3 space-x-4 text-xs font-light md:text-sm text-primary-dark;
  }

  /* Pagination container */
  .pagination {
    @apply flex items-center justify-center mt-3 lg:mt-6;
  }

  /* Pagination button container */
  .pagination__container {
    @apply flex items-center space-x-2;
  }

  /* Default button style */
  .pagination__button {
    @apply px-4 py-2 text-primary-base hover:underline;
  }

  /* Active button style */
  .pagination__button--active {
    @apply px-4 py-2 text-white rounded bg-primary-dark;
  }

  /* Hidden button style (for Previous button when inactive) */
  .pagination__button--hidden {
    @apply hidden px-4 py-2 text-primary-base hover:underline;
  }

  /* Ellipsis */
  .pagination__ellipsis {
    @apply text-neutral-placeholder;
  }

  /* Subscription Section */
  /* Category: Subscription Section */
  .subscription-category__section {
    @apply flex items-center justify-center;
  }

  /* Category: Subscription Container */
  .subscription-category__container {
    @apply w-full p-12 mx-auto mt-6 bg-neutral-background rounded-3xl lg:py-20 lg:px-16;
  }

  /* Category: Subscription Content */
  .subscription-category__content {
    @apply flex flex-col items-start justify-center lg:flex-row lg:space-x-6;
  }

  /* Category: Left Section */
  .subscription-category__left {
    @apply text-center lg:text-start;
  }

  /* Category: Title */
  .subscription-category__title {
    @apply text-gray-800;
  }

  /* Category: Highlights */
  .subscription-category__highlight--dark {
    @apply text-primary-dark;
  }

  .subscription-category__highlight--base {
    @apply -mx-2 text-primary-base;
  }

  /* Category: Heading */
  .subscription-category__heading {
    @apply mt-4 text-primary-base;
  }

  /* Category: Subheading */
  .subscription-category__subheading {
    @apply mt-2 text-primary-dark;
  }

  /* Category: Right Section */
  .subscription-category__right {
    @apply flex-1;
  }

  /* Category: Form */
  .subscription-category__form {
    @apply space-y-4;
  }

  /* Category: Input Group */
  .subscription-category__input-group {
    @apply flex flex-col space-y-6 lg:flex-row lg:space-x-10 lg:space-y-0;
  }

  /* Category: Input Fields */
  .subscription-category__input {
    @apply px-4 py-2 border rounded-lg border-neutral-border focus:outline-none focus:ring-2 focus:ring-primary-base;
  }

  /* Category: Checkbox Group */
  .subscription-category__checkbox-group {
    @apply items-center mt-8 lg:flex lg:space-x-10;
  }

  /* Category: Checkbox Label */
  .subscription-category__checkbox-label {
    @apply block text-sm font-medium text-neutral-text;
  }

  /* Category: Required Indicator */
  .subscription-category__required {
    @apply text-red-500;
  }

  /* Category: Checkbox Options */
  .subscription-category__checkbox-options {
    @apply flex flex-wrap gap-4 mt-2;
  }

  /* Category: Checkbox */
  .subscription-category__checkbox {
    @apply rounded border-neutral-border text-primary-base focus:ring-primary-base;
  }

  /* Category: Checkbox Text */
  .subscription-category__checkbox-text {
    @apply ml-2 text-sm text-neutral-text;
  }

  /* Category: Footer Section */
  .subscription-category__footer {
    @apply space-y-4;
  }

  /* Category: Privacy Text */
  .subscription-category__privacy-text {
    @apply text-sm text-neutral-subtext;
  }

  /* Category: Privacy Link */
  .subscription-category__privacy-link {
    @apply underline text-primary-base;
  }

  /* Category: Button Wrapper */
  .subscription-category__button-wrapper {
    @apply mt-6 text-center lg:w-1/3;
  }

  /* Category: Button */
  .subscription-category__button {
    @apply w-full px-6 py-2 text-sm font-medium text-white bg-primary-base hover:bg-primary-hover focus:ring-4 focus:ring-primary-base;
  }

  /* Sidebar Dropdown */
  .sidebar__dropdown-button {
    @apply flex items-center justify-between px-4 py-2 text-left text-gray-700 bg-white border border-gray-300 rounded-lg;
  }

  .sidebar__dropdown-menu {
    @apply container absolute z-50 hidden mt-2 transition-all duration-300 ease-in-out origin-top transform scale-y-0 bg-white border border-gray-200 rounded-lg shadow-lg;
  }

  .sidebar__dropdown-item {
    @apply block px-4 py-2 text-gray-700 hover:text-blue-600;
  }

  /* Sidebar Links */
  .sidebar__link {
    @apply block px-6 py-4 text-primary-dark hover:bg-primary-base;
  }

  /* Card */
  .card {
    @apply col-span-12 overflow-hidden rounded-md shadow-md sm:col-span-6 lg:col-span-4;
  }

  .card__image {
    @apply object-cover w-full h-40;
  }

  .card__content {
    @apply p-4;
  }

  .card__title {
    @apply mb-2 font-semibold text-primary-dark;
  }

  .card__date {
    @apply text-sm text-gray-500;
  }

  /* Main Header */
  .main-header {
    @apply flex items-center justify-between pb-4 my-5 mb-4 border-b border-neutral-border;
  }

  .main-header__title {
    @apply font-semibold text-primary-dark;
  }

  .main-header__link {
    @apply text-sm text-neutral-subtext xl:text-base hover:underline;
  }

  /* News */
  .news-section {
    @apply px-6 py-6 mx-auto max-w-7xl lg:px-8;
  }

  .news-section__grid {
    @apply grid grid-cols-1 gap-6 md:grid-cols-3;
  }

  /* Block: news-card */
  .news-card {
    @apply p-4 bg-transparent;
  }

  .news-card__header {
    @apply pb-2 mb-4 text-lg font-bold border-b-2 border-neutral-borderDark;
  }

  .news-card__header-icon {
    @apply pr-3;
  }

  .news-card__list {
    @apply space-y-3;
  }

  /* Block: news-card-item */
  .news-card-item--with-image {
    @apply flex items-start py-3 space-x-3 border-b-2 border-neutral-border;
  }

  .news-card-item--text-only {
    @apply py-1 space-y-2 border-b-2 border-neutral-border;
  }

  .news-card-item__image {
    @apply h-20 rounded-md w-36;
  }

  .news-card-item__content {
    @apply text-sm font-medium;
  }

  .news-card-item__date {
    @apply text-xs text-neutral-placeholder;
  }

  /* Promo section */
  .promo-section {
    @apply px-6 py-10 mx-auto max-w-7xl lg:px-8;
  }

  .promo-card {
    @apply bg-neutral-promoBack p-6 lg:rounded-tl-[180px] flex flex-col md:flex-row items-center gap-6  border-4 border-neutral-promoborder;
  }
  .promo-card__image-container {
    @apply flex items-end justify-center py-3 md:w-1/3;
  }

  .promo-card__image {
    @apply w-4/5 h-auto rounded-none lg:ml-auto;
  }

  .promo-card__content {
    @apply md:w-2/3 md:text-left lg:px-10;
  }

  .promo-card__title {
    @apply mb-3 text-center lora-para lg:text-left;
  }

  .promo-card__description {
    @apply mb-6 text-sm text-center text-neutral-subtext lora-para lg:text-left;
  }

  .promo-card__button {
    @apply px-6 py-3 text-sm font-normal text-center text-white transition rounded-md bg-neutral-promoButton hover:bg-orange-600 lora-para;
  }

  /* Latest Articles Section */
  .articles-section {
    @apply max-w-5xl px-4 py-10 mx-auto sm:px-6 lg:px-8;
  }

  .articles-section__title {
    @apply mb-6 tracking-wide inter-head;
  }

  .articles-list {
    @apply grid grid-cols-1 gap-6 md:grid-cols-2;
  }

  .article-card {
    @apply flex gap-4 border-b border-neutral-border;
  }

  .article-card__image {
    @apply object-cover h-20 rounded-sm w-28;
  }

  .article-card__content {
    @apply flex-1;
  }

  .article-card__title {
    @apply mb-4 text-base font-medium leading-tight text-primary-dark inter-head;
  }

  .article-card__author-date {
    @apply flex justify-between mt-auto;
  }
  .article-card__author {
    @apply mb-1 text-sm text-neutral-subtext inter-para;
  }

  .article-card__date {
    @apply text-xs text-neutral-subtext inter-para;
  }

  /* Button Group */
  .button-group {
    @apply overflow-x-auto;
  }

  .button-group__button {
    @apply flex flex-col items-center focus:outline-none  min-w-[240px] space-y-3 px-3;
  }

  .button-group__button--active i {
    @apply text-neutral-BigCardViolet;
  }

  .button-group__button i {
    @apply text-3xl text-neutral-BigCardBack;
  }

  .button-group__button--active span {
    @apply text-base font-normal tracking-wide text-neutral-BigCardViolet;
  }

  .button-group__button span {
    @apply text-base font-normal tracking-wide;
  }

  .button-group__indicator {
    @apply w-full h-1 mt-1 rounded-md;
  }

  .button-group__indicator--active {
    @apply bg-neutral-BigCardViolet;
  }

  .button-group__indicator {
    @apply bg-neutral-background;
  }

  /* Section Content */
  .section-content {
    @apply grid items-center grid-cols-1 gap-8 mt-12 lg:grid-cols-2;
  }

  .section-content__left {
    @apply mb-8;
  }

  .section-content__heading {
    @apply leading-snug text-primary-dark inter-head;
  }

  .section-content__list {
    @apply mt-6 space-y-4 tracking-wide text-neutral-subtext inter-para;
  }

  .section-content__list-item {
    @apply flex items-start space-x-2 text-base;
  }

  .section-content__icon {
    @apply text-primary-base;
  }

  .section-content__button {
    @apply px-6 py-3 mt-8 text-lg font-medium text-white rounded-md shadow-md bg-primary-base hover:bg-primary-hover focus:outline-none;
  }

  /* Image Container */
  .image-container {
    @apply relative flex items-center justify-center mt-10 lg:mt-0;
  }

  .image-container__large {
    @apply absolute overflow-hidden bg-white rounded-lg shadow-lg w-96 h-80;
  }

  .image-container__small {
    @apply relative w-64 overflow-hidden transform translate-x-20 translate-y-24 bg-white rounded-lg shadow-lg h-52;
  }

  /* Single post page end */
}
